<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Untitled</string>
	<key>CFBundleIdentifier</key>
	<string>com.eric.widget.gist</string>
	<key>CFBundleName</key>
	<string>Untitled</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3</string>
	<key>CFBundleVersion</key>
	<string>0.3</string>
	<key>CloseBoxInsetX</key>
	<integer>12</integer>
	<key>CloseBoxInsetY</key>
	<integer>14</integer>
	<key>Height</key>
	<integer>125</integer>
	<key>MainHTML</key>
	<string>main.html</string>
	<key>Width</key>
	<integer>307</integer>
</dict>
</plist>
